@import url('https://fonts.googleapis.com/css2?family=Lato&family=Titillium+Web:wght@200;400;600;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Titillium Web', Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}


/* —————————————————————————————————————
Typography
———————————————————————————————————————*/

/* 
font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;

font-family: 'Titillium Web', "Helvetica Neue", Helvetica, Arial, sans-serif; 
*/

h1 {
  font-weight: 900;
  font-size: 50px;
  line-height: 76%;
  text-transform: uppercase;
}

h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 41px;
}

h3 {
  font-weight: normal;
  font-size: 28px;
  line-height: 32px;
}

h4 {
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

h5 {
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
}

p {
  font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 150%;
}

.g__dash-h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 41px;
  text-transform: capitalize;
  color: #50B2C0;
}



/* —————————————————————————————————————
Colors
———————————————————————————————————————*/

.g__deep-blue--bg {
  background-color: #143642;
}

.g__deep-blue--txt {
  color: #143642;
}

.g__light-deep-blue--bg {
  background-color: #0F4457;
}

.g__light-deep-blue--txt {
  color: #0F4457;
}

.g__sky-blue--bg {
  background-color: #50B2C0;
}

.g__sky-blue--txt {
  color: #50B2C0;
}

.g__fiery-orange--bg {
  background-color: #FF4000;
}

.g__fiery-orange--txt {
  color: #FF4000;
}

.g__light-tan--bg {
  background-color: #FEEFDD;
}

.g__light-tan--txt {
  color: #FEEFDD;
}

.g__red--bg {
  background-color: red;
}

.g__red--txt {
  color: red;
}


/* —————————————————————————————————————
Bootstrap Overrides
———————————————————————————————————————*/
.table td, .table th {
  border-top: none;
  border-bottom: 3px solid #143642;
  padding: .75rem 0;
}

button {
  background: none;
  border: none;
  color: #FEEFDD;
  background-color: #FF4000;
  font-weight: 600;
  cursor: pointer;
  padding: 0;
}

button:focus {
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgba(0,123,255,.10);
}

button:hover {
  background-color: #50B2C0;
  transition: ease .3s;
}

button:active {
  background-color: #FF4000;
}

.btn {
  font-weight: bold;
  padding: 5px 25px;
  border-radius: 0;
}

.g__btn-reset  {
  background: none;
}

.g__btn-reset:hover  {
  background: none;
}

.g__disabled-btn {
  background: rgb(182, 182, 182);
  color: rgb(117, 117, 117);
}

.g__disabled-btn:hover {
  background: rgb(182, 182, 182);
  color: rgb(117, 117, 117);
}

.g__btn-outline {
  background: none;
  border: 2px solid #FF4000;
  color: #FF4000;
}

.g__btn-outline:hover {
  background: #50B2C0;
  border: 2px solid #50B2C0;
  color: #FEEFDD;
  transition: ease .3s;
}

.g__btn-accordion {
  width: 100%;
}

.form-control, 
input,
.form-control-select {
  background: none;
  padding: 13px 15px;
  height: fit-content !important;
  border-color: #E3D3BE;
  border-style: solid;
  border-radius: .25rem;
}


.form-control:focus,
input:focus,
.form-control-select:focus {
  color: #143642;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.navbar-brand {
  margin-right: 0;
}


.card {
  position: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: inherit;
  flex-direction: none;
  word-wrap: break-word;
  background: none;
  border: 1px solid rgba(0,0,0,.225);
}

.card-body {
  padding: 3rem 1.25rem 2rem ;
}

.modal-content {
  background: none;
  border: none;
}

.modal-header {
  position: relative;
  top: 56px;
  border-bottom: none;
}

.modal-header .close {
  padding: 1rem 1.5rem;
}

.g__border-reset {
  border: none;
}


.progress {
  border-radius: 50px;
  background-color: #102a34;
}

.progress-bar {
  background-color: #50B2C0;
  height: 20px;
  transition: ease-in .3s;
}

.g__progress-override .progress-bar  {
  background-color: #FF4000;
}

.g__progress-override--red .progress-bar  {
  background-color: red;
}


/* —————————————————————————————————————
Forms
———————————————————————————————————————*/
.g__form-container {
  padding: 70px;
  background-color: #FEEFDD;
  -webkit-box-shadow: 0px 34px 74px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 34px 74px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 34px 74px rgba(0, 0, 0, 0.05);
  margin-bottom: 40px;
}

.g__remove-margin-bottom {
  margin-bottom: 0;
}

.g__label-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  text-align: left;
}

.g__form-title {
  margin-bottom: 30px;
}

.g__form-submit-btn {
  padding: 10px;
  width: 100%;
  color: #FEEFDD;
  background-color: #FF4000;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  margin-top: 15px;
}

.g__form-divider {
  border: solid 1px #f0e1cf;
  margin: 40px 0;
}

.g__form-input-err {
  border-color: red;
  color: red;
}


/* —————————————————————————————————————
Global Dashboards
———————————————————————————————————————*/
.g__dashboard-wrapper {
  background-color: #143642;
  color: #FEEFDD;
  padding: 80px 0;
  min-height: calc(100vh - 322px);
}

.g__card__subhead {
  color: #50B2C0;
}



/* —————————————————————————————————————
User Dashboard
———————————————————————————————————————*/




/* —————————————————————————————————————
Vehicle Dashboard
———————————————————————————————————————*/
.g__vehicle-card {
  padding: 40px 0;
  background: rgb(15, 68, 87);
  background:linear-gradient(0deg, rgb(6 22 28 / 60%), rgb(9 41 53 / 80%));
  border-radius: 0px 20px;  
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
     -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
          box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
  border-top: 6px solid #50B2C0;
  margin-bottom: 60px;
}

.g__vehicle-card__header-container {
  padding: 30px 60px;
}

.g__vehicle-card__header {
  display: flex;
  margin-bottom: 25px;
}

.g__vehicle-card__title {
  font-weight: 900;
  font-size: 50px;
  line-height: 36px;
  text-transform: uppercase;
  margin-left: 20px;
}

.g__vehicle-card__body-container {
  padding: 40px 60px 0;
}

.g__vehicle-card--top-border {
  border-top: 6px solid #143642;
}

.g__vehicle-card__header-icon {
  width: 45px;
}

.g__vehicle-card__btn {
  padding: 10px;
  width: 100%;
  color: #FEEFDD;
  background-color: #FF4000;
  font-weight: bold;
  border: none;
}

.g__coming-soon {
  opacity: .2;
}









/* —————————————————————————————————————
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
////////////////////////////////////////

Mobile Styles

////////////////////////////////////////
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
———————————————————————————————————————*/


@media only screen and (max-width: 991px) {
  .g__dashboard-wrapper {
    padding: 30px 0;
  }

  .g__dashboard-user-info {
    text-align: center;
    margin-bottom: 10px;
  }
  
}


@media only screen and (max-width: 575px) {
  .g__form-container {
    padding: 50px 30px;
  }

  .g__vehicle-card__header-container {
    padding: 10px 20px 20px;
    text-align: center;
  }

  .g__vehicle-card__header {
    flex-direction: column;
    
  }

  .g__vehicle-card__header-icon {
    width: 55px;
    margin: 0 auto;
  }

  .g__vehicle-card__title {
    margin: 15px 0 -10px;
  }

}


