.oil-change-card__container {
    border-top: 6px solid #143642;
    word-wrap: break-word;
    padding: 60px 60px 0;
}

.oil-change-card_body {
    display: flex;
}

.oil-change-card_number {
    max-width: 160px;
}

.oil-change-card__mileage-txt {
    font-size: 40px;
}


@media only screen and (max-width: 575px) {
    .oil-change-card__container {
        padding: 20px 20px 0;
    }
    
}