.mileage-card__body {
    display: flex;
    padding: 20px 60px 0;
}

.mileage-card__mileage-txt {
    font-size: 50px;
    margin-bottom: 30px;
    padding-bottom: 35px; 
    border-bottom: solid 1px #143642;
}

.mileage-card__date-txt {
    font-weight: 200;
    font-size: 30px;
    margin-bottom: 50px;
}

.mileage-card__current {
    border-right: 6px solid #143642;
    flex-grow: 2;
    padding-right: 60px;
}

.mileage-card__history {
    flex-grow: 1;
    padding-left: 60px;
}


@media only screen and (max-width: 767px) {
    .mileage-card__body {
        flex-direction: column;
        padding: 20px 20px 0;
    }

    .mileage-card__current {
        border-right:0;
        border-bottom: 6px solid #143642;
        flex-grow: none;
        text-align: center;
        padding: 0 0 50px;
    }

    .mileage-card__history {
        flex-grow: none;
        padding: 50px 0 0;
    }
    
}