.vehicle-form__search-btn {
    color: #feefdd;
    background-color: #FF4000;
    border: none;
}

.vehicle-form__vin-result {
    text-align: center;
    color: #143642;
    background-color: #f1e5d6;
    padding: 40px 40px 0;
    margin-bottom: 1.5rem;
    height: fit-content;
}

.vehicle-form__vin-item {
    margin-bottom: 40px;
}




@media only screen and (max-width: 768px) {

    .vehicle-form__vin-result{
        padding: 40px 40px 1px;
    }

}