.warranty-card__container {
    border-top: 6px solid #143642;
    word-wrap: break-word;
    padding: 60px 60px 0;
}

.warranty-card__header {
    color: #FF4000;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #143642;
    padding: 30px 0;
}

.warranty-card__meta-container {
    display: flex;
}

.warranty-card__provider {
    font-weight: 700;
    margin-right: 15px;
}

.warranty-card__toggle {
    transition: ease-in .2s;
}
.warranty-card__plus {
    transition: ease-in .2s;
    font-size: 1.1rem;
}

.warranty-card__toggle:hover {
    transition: ease-in .2s;
    color: #50B2C0;
}

.warranty-card__toggle:hover .warranty-card__plus {
    transform: rotate(90deg);
    transition: ease-in .2s;
}



@media only screen and (max-width: 575px) {
    .warranty-card__container {
        padding: 20px 20px 0;
    }
    
}