.home-hero__bg {
    background: url('../../../images/home/home-hero-bg.jpg') center / cover no-repeat;
    color: #143642;
    text-align: center;
    height: 900px;
    padding-top: 120px;
    margin-top: -86px;
}

.home-hero__anchor-btn {
    margin-top: 50px;
}

@media only screen and (max-width: 575px) {

    .home-hero__bg {
        margin-top: -153px;
    }
  
  
}
  