.home-hero__bg {
    background: url('../../../images/home/home-hero-bg.jpg') center / cover no-repeat;
    color: #143642;
    text-align: center;
    height: 1050px;
    padding-top: 130px;
    margin-top: -86px;
}

.home-hero__h1 {
    font-size: 100px;
    transition: ease .2s;
}

.home-hero__anchor-btn {
    margin-top: 50px;
}



@media only screen and (max-width: 575px) {

    .home-hero__bg {
        margin-top: -153px;
        padding-top: 185px;
        height: 800px;
    }

    .home-hero__h1 {
        font-size: 58px;
        transition: ease .2s;
    }

    .home-hero__anchor-btn {
        margin-top: 25px;
    }
  
  
}
  